menu a#pull{
    /* display: block; */
    width: 100%;
    /* position: fixed; */
}

a#pull:after{
    content:"";  
    background: url('nav-icon.png') no-repeat;  
    width: 30px;  
    height: 30px;  
    display: inline-block;  
    position: fixed;  
    right: 10px;  
    top: 30px;  
    
}